.btn {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  font-size: 3rem;
  padding:0;
  border-style: none;
}

.btn:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
  box-shadow: rgb(97, 97, 97) 1px 1px 5px 1px;
}

.foot {
  display: flex;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  justify-content: right;
}

.btn a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn a:hover{
  color: rgb(255, 255, 255);
}
